<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>upload</title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        form {
            position: relative;
            top: 25%;
            margin: 0 auto;
            background: darkgray;
            height: 50%;
            width: 45%;
        }
    </style>
</head>
<body>
<form action="/uploadNewFile" method="post" enctype="multipart/form-data">
    <!--<input type="file" name="imgUploader" multiple />-->
    <input type="file" name="file"/>
    <input type="submit" name="uploadBtn" id="uploadBtn" value="提交"/>
</form>
</body>
</html>
